.home-container {
  background-image: url('https://c.wallhere.com/photos/6d/5b/1920x1200_px_artwork_Dark_Souls_III_video_games-658806.jpg!d');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
