<footer class="footer">
  <div class="footer-links">
    <ul>
      <li>Términos y condiciones</li>
      <li>Política de privacidad</li>
      <li>Preguntas frecuentes</li>
      <li>Blog</li>
    </ul>
  </div>

  <div class="footer-social">
    <ul>
      <li><img class="iconImg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/768px-2021_Facebook_icon.svg.png" alt="instagram" href="#"></li>
      <li><img class="iconImg" src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="instagram"></li>
      <li><img class="iconImg" src="https://seeklogo.com/images/T/twitter-icon-circle-blue-logo-94339974C6-seeklogo.com.png" alt="Twitter" href="#"></li>
    </ul>
  </div>

  <div class="footer-credits">
    <p>Desarrollado por un concejal de urbanismo</p>
    <p>Iconos proporcionados por 2 minutillos de google</p>
  </div>

  <div class="footer-copyright">
    <p>© 2023 Almejones&Mejillones SL. Todos los derechos conservados en aceite.</p>
  </div>
</footer>
