<div class="login-container">
  <ng-container *ngIf="loggedIn; else loginForms">
    <div class="login-message success">
      <i class="fa fa-check-circle"></i>
      You have successfully logged in!
    </div>
  </ng-container>

  <ng-template #loginForms>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="username">Username</label>
      <input type="text" formControlName="username" id="username">
      <label for="password">Password</label>
      <input type="password" formControlName="password" id="password">
      <button type="submit">Login</button>
    </form>
  </ng-template>
</div>
